<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053532675885-aarcdab8hgg1tc1qndg7u1bt53vc0bqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053532675885-aarcdab8hgg1tc1qndg7u1bt53vc0bqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCDPWd7KN8IC5SOeY7Rf3GvejsPUl7BsA0</string>
	<key>GCM_SENDER_ID</key>
	<string>1053532675885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ndnDatabaseTestingDemo</string>
	<key>PROJECT_ID</key>
	<string>my-database-ndn</string>
	<key>STORAGE_BUCKET</key>
	<string>my-database-ndn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053532675885:ios:19bf4d4de50bad894d3da4</string>
</dict>
</plist>